servicecb-api/src/main/resources/META-INF/wsdl/GreeterCallback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
~ Copyright (C) Red Hat, Inc.
~ http://www.redhat.com
~
~ Licensed under the Apache License, Version 2.0 (the "License");
~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
-->
<wsdl:definitions name="GreeterCallback"
                  targetNamespace="http://examples.fusebyexample.org/greetercb"
                  xmlns:tns="http://examples.fusebyexample.org/greetercb"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  <wsdl:types>
    
    <xsd:schema targetNamespace="http://examples.fusebyexample.org/greetercb" 
                xmlns:tns="http://examples.fusebyexample.org/greetercb" 
                xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                elementFormDefault="qualified">
      
      <xsd:element name="requestGreetingCallback" type="tns:RequestGreetingCallbackRequest"/>
      <xsd:element name="requestGreetingCallbackResponse" type="tns:VoidResponse"/>

      <xsd:complexType name="AsyncCallbackRequest" abstract="true">
        <xsd:sequence>
          <xsd:element name="callbackId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="VoidResponse"/>
      
      <xsd:complexType name="RequestGreetingCallbackRequest">
        <xsd:complexContent>
          <xsd:extension base="tns:AsyncCallbackRequest">
            <xsd:sequence>
              <xsd:element name="greeting" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>

    </xsd:schema>

  </wsdl:types>

  <wsdl:message name="requestGreetingCallback">
    <wsdl:part element="tns:requestGreetingCallback" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="requestGreetingCallbackResponse">
    <wsdl:part element="tns:requestGreetingCallbackResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="GreeterCallback"> 
    <wsdl:operation name="requestGreetingCallback">
      <wsdl:input message="tns:requestGreetingCallback" name="requestGreetingCallback"/>
      <wsdl:output message="tns:requestGreetingCallbackResponse" name="requestGreetingCallbackResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GreeterCallbackSoapBinding" type="tns:GreeterCallback">
    
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="requestGreetingCallback">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="requestGreetingCallback">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestGreetingCallbackResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>

  <wsdl:service name="GreeterCallbackService">
    <wsdl:port binding="tns:GreeterCallbackSoapBinding" name="GreeterCallbackPort">
      <soap:address location="http://localhost:9000/greetercb"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
